<a href="https://colab.research.google.com/github/Rogerio-mack/IMT_Ciencia_de_Dados/blob/main/IMT_ex_groupby_solucao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="ITM">
</head>

<img src="https://maua.br/images/selo-60-anos-maua.svg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# Lab: Rename, drop, replace, concat, groupby

Referências e Materiais úteis para este Lab:

- [Notas de Aula](https://colab.research.google.com/github/Rogerio-mack/IMT_Ciencia_de_Dados/blob/main/IMT_Pandas_I.ipynb)
- [Pandas User Guide](https://pandas.pydata.org/docs/user_guide/index.html#user-guide)
- [Groupby](https://pandas.pydata.org/docs/user_guide/groupby.html)
---

In [ ]:
import numpy as np
import pandas as pd

path = 'https://github.com/Rogerio-mack/IMT_Ciencia_de_Dados/raw/main/data/'

## Q0. `rename()`,`drop()`,`replace()`,`concat()`

Combine os dados a seguir em novo DataFrame `company` incorporando as contratações dos meses de FEV e MAR que não constam do DataFrame `company_before`. 

Considere que:
1. A companhia passará a usar um novo `id` para os empregados e, portanto, esse dado não precisa constar do novo DataFrame `company`.  
2. No mês de março devido a problemas com mudanças na companhia os dados das contratações encontram-se em um layout diferente (nome e ordem dos atributos) e foram usados alguns valores categóricos diferentes nos atributos.

In [ ]:
company_before = pd.read_csv(path + 'company_before.csv')
company_fev = pd.read_csv(path + 'company_fev.csv')
company_mar = pd.read_csv(path + 'company_mar.csv')

display(company_before.head())
display(company_fev.head())
display(company_mar.head())

,id,Setor,Sexo,Grau_Instrucao,Idade,Anos_Experiencia,Estado,Salario
0,1,Operacao,Masculino,Superior Completo,54,12,SP,2708.410161
1,2,RH,Masculino,Doutorado,52,12,SP,8321.204000
2,3,RH,Masculino,Mestrado,54,12,RJ,7588.139000
3,4,Financeiro,Feminino,Mestrado,32,9,BH,6512.599657
4,5,RH,Masculino,Superior Incompleto,34,8,BH,3125.765000

,id,Setor,Sexo,Grau_Instrucao,Idade,Anos_Experiencia,Estado,Salario
0,1390,Administrativo,Feminino,Superior Incompleto,55,11,SP,1999.616745
1,1407,Marketing,Masculino,Superior Completo,40,17,SP,5139.437521
2,1347,Administrativo,Feminino,Mestrado,35,8,SP,6883.379725
3,1123,Operacao,Masculino,Mestrado,45,16,SP,6386.825060
4,1042,Administrativo,Feminino,Superior Incompleto,43,16,BH,1877.931320

,Sex,Grau_Instrucao,Experiencia,Idade,Estado,Salario,Departamento
0,M,Superior Completo,11,56,SP,3722.984809,Operacao
1,F,Superior Completo,9,31,RJ,10290.856780,Administrativo
2,F,Superior Incompleto,12,53,SP,3583.467000,Recursos Humanos
3,M,Doutorado,16,45,BH,10588.027760,Operacao
4,F,Superior Incompleto,15,46,SP,1995.308000,Administrativo

Dica: Veja a seguir instruções úteis neste exercício.

In [ ]:
df = pd.DataFrame({ '123': [1,2,3], 'BBB': ['b','b','c'], 'X':['a','b','c'], 'delete':[None, None, None]})
df

   123 BBB  X delete
0    1   b  a   None
1    2   b  b   None
2    3   c  c   None

In [ ]:
df = df.drop(columns=['delete'])
# df.drop(columns=['delete'],inplace=True)
df

   123 BBB  X
0    1   b  a
1    2   b  b
2    3   c  c

In [ ]:
df = df.rename(columns={'X':'ABC'})
# df.rename(columns={'X':'ABC'},inplace=True)
df

   123 BBB ABC
0    1   b   a
1    2   b   b
2    3   c   c

In [ ]:
df.BBB.unique()

array(['b', 'c'], dtype=object)

In [ ]:
df.BBB = df.BBB.replace('c','b')
df

   123 BBB ABC
0    1   b   a
1    2   b   b
2    3   b   c

1. Exclua o `id` de `company_before` e `company_fev`.

In [ ]:
company_before = company_before.drop(columns='id')
company_fev = company_fev.drop(columns='id')

2. Ajuste o nome das colunas no DataFrame `company_mar`.

In [ ]:
set( company_before.columns ) - set( company_mar.columns )

{'Anos_Experiencia', 'Setor', 'Sexo'}

In [ ]:
set( company_mar.columns ) - set( company_before.columns )

{'Departamento', 'Experiencia', 'Sex'}

In [ ]:
company_mar = company_mar.rename(columns={'Experiencia':'Anos_Experiencia',
                            'Departamento':'Setor',
                            'Sex':'Sexo'})
company_mar.head()

,Sexo,Grau_Instrucao,Anos_Experiencia,Idade,Estado,Salario,Setor
0,M,Superior Completo,11,56,SP,3722.984809,Operacao
1,F,Superior Completo,9,31,RJ,10290.856780,Administrativo
2,F,Superior Incompleto,12,53,SP,3583.467000,Recursos Humanos
3,M,Doutorado,16,45,BH,10588.027760,Operacao
4,F,Superior Incompleto,15,46,SP,1995.308000,Administrativo

3. Ajuste a ordem das colunas em `company_mar`.

In [ ]:
company_mar = company_mar[ company_before.columns ] 
company_mar.head()

,Setor,Sexo,Grau_Instrucao,Idade,Anos_Experiencia,Estado,Salario
0,Operacao,M,Superior Completo,56,11,SP,3722.984809
1,Administrativo,F,Superior Completo,31,9,RJ,10290.856780
2,Recursos Humanos,F,Superior Incompleto,53,12,SP,3583.467000
3,Operacao,M,Doutorado,45,16,BH,10588.027760
4,Administrativo,F,Superior Incompleto,46,15,SP,1995.308000

4. Verifique e ajuste os valores dos rótulos empregados nos campos `object` (strings) de `company_mar`

In [ ]:
for c in company_mar.select_dtypes(include=['object']):
  if not (set() == set(company_before[c].unique()) - set(company_mar[c].unique())): 
    print(c, ' nok',  company_mar[c].unique(), company_before[c].unique())
  else:
    print(c, ' ok, sem diferença de valores')

Setor  nok ['Operacao' 'Administrativo' 'Recursos Humanos' 'Financeiro' 'Marketing'] ['Operacao' 'RH' 'Financeiro' 'Marketing' 'Administrativo']
Sexo  nok ['M' 'F'] ['Masculino' 'Feminino']
Grau_Instrucao  ok, sem diferença de valores
Estado  ok, sem diferença de valores

In [ ]:
company_mar.Setor = company_mar.Setor.replace('Recursos Humanos','RH')
company_mar.Sexo = company_mar.Sexo.replace(['M','F'],['Masculino','Feminino'])

In [ ]:
for c in company_mar.select_dtypes(include=['object']):
  if not (set() == set(company_before[c].unique()) - set(company_mar[c].unique())): 
    print(c, ' nok',  company_mar[c].unique(), company_before[c].unique())
  else:
    print(c, ' ok, sem diferença de valores')

Setor  ok, sem diferença de valores
Sexo  ok, sem diferença de valores
Grau_Instrucao  ok, sem diferença de valores
Estado  ok, sem diferença de valores

5. Concatene os DataFrames em um único DataFrame `company`.

In [ ]:
company = pd.concat([company_before,company_fev,company_mar]).reset_index(drop=True)
company

,Setor,Sexo,Grau_Instrucao,Idade,Anos_Experiencia,Estado,Salario
0,Operacao,Masculino,Superior Completo,54,12,SP,2708.410161
1,RH,Masculino,Doutorado,52,12,SP,8321.204000
2,RH,Masculino,Mestrado,54,12,RJ,7588.139000
3,Financeiro,Feminino,Mestrado,32,9,BH,6512.599657
4,RH,Masculino,Superior Incompleto,34,8,BH,3125.765000
...,...,...,...,...,...,...,...
1515,Marketing,Masculino,Superior Completo,35,8,SP,4087.606289
1516,Marketing,Masculino,Mestrado,50,14,SP,6294.245630
1517,Administrativo,Masculino,Superior Completo,63,8,SP,2769.916194
1518,Administrativo,Masculino,Superior Completo,61,9,SP,4275.077705
1519,Financeiro,Feminino,Doutorado,36,8,SP,10748.475840

In [ ]:
#@markdown Must be True
len(company) == 1520

True

(Moodle) Qual a soma dos salários, o maior salário, e de qual departamento, depois de os dados da companhia terem sido atualizados?

In [ ]:
company.Salario.sum()

8705724.860367

In [ ]:
company.nlargest(1,'Salario')

,Setor,Sexo,Grau_Instrucao,Idade,Anos_Experiencia,Estado,Salario
1402,Administrativo,Masculino,Doutorado,31,8,SP,19790.41

## Q1. `groupby()`, `get_group()`

Empregue os comandos `groupby()` e `get_group()` para criar um DataFrame para cada `Setor`, apenas com seus dados próprios. Salve cada DataFrame em um Arquivo no formato `.csv` e outro no formato `.json`. Cada DataFrame terá o nome do setor (`setor.csv` e `setor.json`) e apenas as colunas: 

```
['Sexo', 'Grau_instrucao', 'Idade', 'Anos_Experiencia', 'Estado', 'Salario']
```
(sem `Setor`!). Em seguida, empregue o comando `memory_usage()` e obtenha a memória usada por cada DataFrame (`.csv`).

Um exemplo do DataFrame `Administrativo` a ser criado:

In [ ]:
#@markdown 

# Atenção esta não é a solução, é apenas para fornecer o aspecto da saída esperada 

temp = company[ company.Setor == 'Administrativo' ].head(5).drop(columns='Setor').reset_index(drop=True).head()

print('DataFrame: Admistrativo')
display( temp.head() )
print()
print( f'memory usage: {temp.memory_usage().sum() / 1024:.1f}KB' )

DataFrame: Admistrativo

        Sexo     Grau_Instrucao  Idade  Anos_Experiencia Estado      Salario
0  Masculino           Mestrado     32                 9     SP  6948.868398
1  Masculino  Superior Completo     47                15     RJ  8687.786858
2  Masculino  Superior Completo     47                15     SP  7914.972759
3  Masculino  Superior Completo     56                11     SP  5595.857117
4  Masculino           Mestrado     32                 9     BH  6802.579902

memory usage: 0.4KB

Dica: Veja o exemplo a seguir de como empregar o `get_group()`.

In [ ]:
#@markdown
df = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", np.nan),
        ("mammal", "Carnivora", 58),
    ],
    index=["falcon", "parrot", "lion", "monkey", "leopard"],
    columns=("class", "order", "max_speed"),
)

df

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [ ]:
g = df.groupby('class')

In [ ]:
g.groups.keys()

dict_keys(['bird', 'mammal'])

In [ ]:
g.get_group('bird')

       class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0

Fazendo para um único setor...

In [ ]:
g = company.groupby('Setor')

Administrativo = g.get_group('Administrativo')
Administrativo = Administrativo.drop(columns="Setor").reset_index(drop=True)

print('DataFrame: Administrativo')
display( Administrativo.head() )
print( f'memory usage: {Administrativo.memory_usage().sum() / 1024:.1f}KB' )

Administrativo.to_csv('Administrativo.csv',index=None)
Administrativo.to_json('Administrativo.json')
# Administrativo.to_json('Administrativo.json',orient='records') # Outro formato, veja

DataFrame: Administrativo

        Sexo     Grau_Instrucao  Idade  Anos_Experiencia Estado      Salario
0  Masculino           Mestrado     32                 9     SP  6948.868398
1  Masculino  Superior Completo     47                15     RJ  8687.786858
2  Masculino  Superior Completo     47                15     SP  7914.972759
3  Masculino  Superior Completo     56                11     SP  5595.857117
4  Masculino           Mestrado     32                 9     BH  6802.579902

memory usage: 19.0KB

Inspecionando os arquivos...

In [ ]:
!ls

Administrativo.csv   company_before.csv  company_mar.csv
Administrativo.json  company_fev.csv	 sample_data

In [ ]:
!cat Administrativo.json

{"Sexo":{"0":"Masculino","1":"Masculino","2":"Masculino","3":"Masculino","4":"Masculino","5":"Masculino","6":"Masculino","7":"Masculino","8":"Masculino","9":"Masculino","10":"Masculino","11":"Feminino","12":"Feminino","13":"Masculino","14":"Masculino","15":"Masculino","16":"Masculino","17":"Masculino","18":"Feminino","19":"Feminino","20":"Masculino","21":"Masculino","22":"Masculino","23":"Feminino","24":"Masculino","25":"Feminino","26":"Masculino","27":"Masculino","28":"Feminino","29":"Masculino","30":"Masculino","31":"Masculino","32":"Feminino","33":"Masculino","34":"Masculino","35":"Masculino","36":"Masculino","37":"Masculino","38":"Feminino","39":"Feminino","40":"Masculino","41":"Masculino","42":"Feminino","43":"Feminino","44":"Feminino","45":"Masculino","46":"Masculino","47":"Masculino","48":"Masculino","49":"Masculino","50":"Masculino","51":"Masculino","52":"Masculino","53":"Masculino","54":"Masculino","55":"Masculino","56":"Masculino","57":"Masculino","58":"Masculino","59":"Masculino","60":"Masculino","61":"Masculino","62":"Feminino","63":"Masculino","64":"Feminino","65":"Feminino","66":"Masculino","67":"Masculino","68":"Feminino","69":"Masculino","70":"Masculino","71":"Masculino","72":"Masculino","73":"Masculino","74":"Feminino","75":"Masculino","76":"Masculino","77":"Feminino","78":"Feminino","79":"Masculino","80":"Masculino","81":"Feminino","82":"Feminino","83":"Masculino","84":"Masculino","85":"Masculino","86":"Feminino","87":"Feminino","88":"Feminino","89":"Masculino","90":"Feminino","91":"Masculino","92":"Feminino","93":"Masculino","94":"Masculino","95":"Masculino","96":"Masculino","97":"Feminino","98":"Masculino","99":"Feminino","100":"Feminino","101":"Masculino","102":"Feminino","103":"Feminino","104":"Masculino","105":"Masculino","106":"Masculino","107":"Feminino","108":"Feminino","109":"Feminino","110":"Feminino","111":"Masculino","112":"Feminino","113":"Masculino","114":"Feminino","115":"Feminino","116":"Masculino","117":"Feminino","118":"Masculino","119":"Masculino","120":"Feminino","121":"Feminino","122":"Feminino","123":"Feminino","124":"Masculino","125":"Masculino","126":"Masculino","127":"Masculino","128":"Masculino","129":"Masculino","130":"Masculino","131":"Feminino","132":"Feminino","133":"Masculino","134":"Masculino","135":"Feminino","136":"Masculino","137":"Feminino","138":"Feminino","139":"Feminino","140":"Feminino","141":"Masculino","142":"Feminino","143":"Masculino","144":"Masculino","145":"Feminino","146":"Feminino","147":"Feminino","148":"Masculino","149":"Masculino","150":"Masculino","151":"Feminino","152":"Masculino","153":"Feminino","154":"Feminino","155":"Masculino","156":"Masculino","157":"Masculino","158":"Masculino","159":"Feminino","160":"Masculino","161":"Feminino","162":"Masculino","163":"Feminino","164":"Masculino","165":"Feminino","166":"Masculino","167":"Masculino","168":"Feminino","169":"Masculino","170":"Feminino","171":"Masculino","172":"Masculino","173":"Masculino","174":"Feminino","175":"Masculino","176":"Feminino","177":"Feminino","178":"Feminino","179":"Masculino","180":"Masculino","181":"Masculino","182":"Masculino","183":"Masculino","184":"Masculino","185":"Feminino","186":"Feminino","187":"Masculino","188":"Feminino","189":"Masculino","190":"Masculino","191":"Feminino","192":"Masculino","193":"Feminino","194":"Masculino","195":"Feminino","196":"Masculino","197":"Masculino","198":"Feminino","199":"Masculino","200":"Feminino","201":"Feminino","202":"Feminino","203":"Masculino","204":"Masculino","205":"Masculino","206":"Masculino","207":"Feminino","208":"Feminino","209":"Masculino","210":"Masculino","211":"Masculino","212":"Masculino","213":"Feminino","214":"Feminino","215":"Masculino","216":"Masculino","217":"Masculino","218":"Masculino","219":"Masculino","220":"Feminino","221":"Masculino","222":"Masculino","223":"Masculino","224":"Feminino","225":"Masculino","226":"Masculino","227":"Masculino","228":"Masculino","229":"Feminino","230":"Feminino","231":"Feminino","232":"Masculino","233":"Feminino","234":"Feminino","235":"Masculino","236":"Feminino","237":"Masculino","238":"Feminino","239":"Masculino","240":"Masculino","241":"Feminino","242":"Masculino","243":"Masculino","244":"Masculino","245":"Feminino","246":"Masculino","247":"Feminino","248":"Feminino","249":"Feminino","250":"Masculino","251":"Masculino","252":"Masculino","253":"Feminino","254":"Masculino","255":"Masculino","256":"Feminino","257":"Masculino","258":"Feminino","259":"Masculino","260":"Masculino","261":"Masculino","262":"Masculino","263":"Masculino","264":"Masculino","265":"Feminino","266":"Masculino","267":"Masculino","268":"Feminino","269":"Masculino","270":"Masculino","271":"Masculino","272":"Masculino","273":"Feminino","274":"Masculino","275":"Feminino","276":"Masculino","277":"Feminino","278":"Masculino","279":"Masculino","280":"Masculino","281":"Masculino","282":"Feminino","283":"Feminino","284":"Masculino","285":"Feminino","286":"Masculino","287":"Feminino","288":"Masculino","289":"Masculino","290":"Masculino","291":"Masculino","292":"Feminino","293":"Masculino","294":"Feminino","295":"Masculino","296":"Feminino","297":"Masculino","298":"Feminino","299":"Masculino","300":"Masculino","301":"Feminino","302":"Feminino","303":"Masculino","304":"Feminino","305":"Masculino","306":"Feminino","307":"Masculino","308":"Masculino","309":"Feminino","310":"Masculino","311":"Masculino","312":"Masculino","313":"Masculino","314":"Feminino","315":"Feminino","316":"Feminino","317":"Masculino","318":"Feminino","319":"Masculino","320":"Feminino","321":"Masculino","322":"Masculino","323":"Feminino","324":"Feminino","325":"Feminino","326":"Feminino","327":"Masculino","328":"Masculino","329":"Feminino","330":"Feminino","331":"Feminino","332":"Feminino","333":"Masculino","334":"Feminino","335":"Masculino","336":"Feminino","337":"Masculino","338":"Masculino","339":"Masculino","340":"Feminino","341":"Feminino","342":"Masculino","343":"Feminino","344":"Feminino","345":"Masculino","346":"Masculino","347":"Masculino","348":"Masculino","349":"Masculino","350":"Feminino","351":"Masculino","352":"Feminino","353":"Masculino","354":"Masculino","355":"Masculino","356":"Masculino","357":"Feminino","358":"Masculino","359":"Feminino","360":"Feminino","361":"Masculino","362":"Masculino","363":"Feminino","364":"Feminino","365":"Feminino","366":"Feminino","367":"Masculino","368":"Masculino","369":"Feminino","370":"Feminino","371":"Masculino","372":"Masculino","373":"Feminino","374":"Masculino","375":"Feminino","376":"Masculino","377":"Feminino","378":"Feminino","379":"Masculino","380":"Masculino","381":"Masculino","382":"Masculino","383":"Feminino","384":"Feminino","385":"Feminino","386":"Feminino","387":"Masculino","388":"Masculino","389":"Masculino","390":"Masculino","391":"Masculino","392":"Feminino","393":"Feminino","394":"Feminino","395":"Feminino","396":"Feminino","397":"Feminino","398":"Masculino","399":"Feminino","400":"Feminino","401":"Masculino","402":"Masculino"},"Grau_Instrucao":{"0":"Mestrado","1":"Superior Completo","2":"Superior Completo","3":"Superior Completo","4":"Mestrado","5":"Superior Completo","6":"Superior Completo","7":"Superior Completo","8":"Superior Completo","9":"Superior Incompleto","10":"Superior Completo","11":"Superior Completo","12":"Superior Completo","13":"Superior Completo","14":"Mestrado","15":"Doutorado","16":"Superior Incompleto","17":"Superior Completo","18":"Superior Incompleto","19":"Superior Completo","20":"Superior Incompleto","21":"Superior Completo","22":"Superior Incompleto","23":"Superior Incompleto","24":"Superior Completo","25":"Superior Completo","26":"Superior Incompleto","27":"Superior Completo","28":"Superior Completo","29":"Mestrado","30":"Superior Completo","31":"Doutorado","32":"Superior Incompleto","33":"Superior Completo","34":"Superior Completo","35":"Superior Incompleto","36":"Mestrado","37":"Superior Completo","38":"Superior Incompleto","39":"Mestrado","40":"Superior Completo","41":"Mestrado","42":"Superior Incompleto","43":"Mestrado","44":"Superior Incompleto","45":"Superior Completo","46":"Superior Incompleto","47":"Mestrado","48":"Superior Completo","49":"Superior Completo","50":"Superior Incompleto","51":"Superior Completo","52":"Superior Completo","53":"Superior Completo","54":"Superior Completo","55":"Mestrado","56":"Superior Completo","57":"Superior Completo","58":"Superior Incompleto","59":"Mestrado","60":"Superior Completo","61":"Mestrado","62":"Mestrado","63":"Superior Incompleto","64":"Doutorado","65":"Superior Completo","66":"Superior Incompleto","67":"Mestrado","68":"Superior Completo","69":"Superior Completo","70":"Superior Completo","71":"Superior Incompleto","72":"Mestrado","73":"Superior Completo","74":"Superior Completo","75":"Mestrado","76":"Doutorado","77":"Doutorado","78":"Superior Completo","79":"Doutorado","80":"Superior Completo","81":"Mestrado","82":"Superior Incompleto","83":"Superior Completo","84":"Superior Incompleto","85":"Mestrado","86":"Superior Completo","87":"Superior Completo","88":"Superior Completo","89":"Superior Incompleto","90":"Superior Incompleto","91":"Superior Completo","92":"Doutorado","93":"Superior Completo","94":"Superior Completo","95":"Superior Completo","96":"Superior Completo","97":"Superior Completo","98":"Superior Completo","99":"Doutorado","100":"Superior Completo","101":"Superior Incompleto","102":"Superior Completo","103":"Superior Incompleto","104":"Superior Completo","105":"Mestrado","106":"Superior Incompleto","107":"Superior Incompleto","108":"Mestrado","109":"Doutorado","110":"Mestrado","111":"Superior Completo","112":"Superior Incompleto","113":"Mestrado","114":"Doutorado","115":"Superior Incompleto","116":"Superior Completo","117":"Doutorado","118":"Superior Completo","119":"Mestrado","120":"Superior Incompleto","121":"Superior Completo","122":"Superior Incompleto","123":"Superior Completo","124":"Mestrado","125":"Superior Incompleto","126":"Doutorado","127":"Superior Incompleto","128":"Superior Completo","129":"Superior Incompleto","130":"Superior Completo","131":"Superior Incompleto","132":"Doutorado","133":"Superior Completo","134":"Superior Completo","135":"Superior Completo","136":"Superior Completo","137":"Superior Incompleto","138":"Superior Completo","139":"Superior Incompleto","140":"Superior Completo","141":"Superior Incompleto","142":"Superior Completo","143":"Mestrado","144":"Superior Completo","145":"Superior Completo","146":"Superior Incompleto","147":"Doutorado","148":"Superior Completo","149":"Superior Incompleto","150":"Mestrado","151":"Superior Completo","152":"Superior Completo","153":"Mestrado","154":"Superior Completo","155":"Superior Incompleto","156":"Superior Incompleto","157":"Superior Completo","158":"Mestrado","159":"Superior Completo","160":"Superior Incompleto","161":"Superior Completo","162":"Superior Incompleto","163":"Mestrado","164":"Superior Completo","165":"Superior Completo","166":"Mestrado","167":"Mestrado","168":"Mestrado","169":"Superior Completo","170":"Superior Completo","171":"Superior Completo","172":"Doutorado","173":"Superior Completo","174":"Superior Incompleto","175":"Superior Completo","176":"Mestrado","177":"Superior Completo","178":"Superior Incompleto","179":"Superior Completo","180":"Superior Completo","181":"Mestrado","182":"Superior Completo","183":"Mestrado","184":"Superior Completo","185":"Superior Incompleto","186":"Superior Completo","187":"Superior Incompleto","188":"Superior Completo","189":"Superior Completo","190":"Superior Completo","191":"Doutorado","192":"Superior Completo","193":"Mestrado","194":"Superior Completo","195":"Superior Incompleto","196":"Mestrado","197":"Mestrado","198":"Superior Incompleto","199":"Superior Completo","200":"Superior Incompleto","201":"Superior Incompleto","202":"Superior Completo","203":"Superior Incompleto","204":"Superior Completo","205":"Superior Completo","206":"Mestrado","207":"Superior Completo","208":"Superior Incompleto","209":"Doutorado","210":"Mestrado","211":"Superior Incompleto","212":"Superior Completo","213":"Superior Completo","214":"Mestrado","215":"Superior Incompleto","216":"Superior Completo","217":"Superior Incompleto","218":"Superior Completo","219":"Superior Incompleto","220":"Superior Incompleto","221":"Mestrado","222":"Superior Incompleto","223":"Superior Incompleto","224":"Superior Completo","225":"Doutorado","226":"Superior Incompleto","227":"Mestrado","228":"Mestrado","229":"Mestrado","230":"Superior Incompleto","231":"Superior Completo","232":"Superior Completo","233":"Superior Incompleto","234":"Superior Completo","235":"Superior Incompleto","236":"Superior Completo","237":"Superior Completo","238":"Mestrado","239":"Superior Completo","240":"Superior Completo","241":"Superior Incompleto","242":"Mestrado","243":"Superior Completo","244":"Superior Completo","245":"Superior Completo","246":"Superior Incompleto","247":"Superior Completo","248":"Superior Completo","249":"Superior Incompleto","250":"Superior Completo","251":"Superior Incompleto","252":"Superior Completo","253":"Superior Completo","254":"Superior Completo","255":"Superior Completo","256":"Superior Completo","257":"Mestrado","258":"Superior Completo","259":"Superior Completo","260":"Superior Completo","261":"Mestrado","262":"Mestrado","263":"Doutorado","264":"Superior Completo","265":"Superior Completo","266":"Mestrado","267":"Doutorado","268":"Doutorado","269":"Superior Completo","270":"Superior Completo","271":"Superior Completo","272":"Superior Incompleto","273":"Superior Completo","274":"Superior Completo","275":"Superior Completo","276":"Superior Completo","277":"Superior Completo","278":"Superior Completo","279":"Superior Incompleto","280":"Superior Incompleto","281":"Superior Incompleto","282":"Superior Completo","283":"Superior Completo","284":"Superior Incompleto","285":"Superior Completo","286":"Superior Completo","287":"Superior Incompleto","288":"Superior Completo","289":"Superior Completo","290":"Superior Incompleto","291":"Superior Incompleto","292":"Superior Incompleto","293":"Superior Incompleto","294":"Doutorado","295":"Superior Incompleto","296":"Superior Completo","297":"Mestrado","298":"Mestrado","299":"Superior Completo","300":"Mestrado","301":"Superior Completo","302":"Superior Completo","303":"Superior Incompleto","304":"Superior Completo","305":"Superior Completo","306":"Superior Completo","307":"Mestrado","308":"Doutorado","309":"Superior Completo","310":"Superior Completo","311":"Mestrado","312":"Superior Completo","313":"Superior Completo","314":"Superior Incompleto","315":"Mestrado","316":"Mestrado","317":"Superior Completo","318":"Superior Completo","319":"Superior Incompleto","320":"Superior Completo","321":"Superior Completo","322":"Superior Completo","323":"Superior Incompleto","324":"Superior Completo","325":"Mestrado","326":"Superior Completo","327":"Superior Completo","328":"Superior Completo","329":"Superior Completo","330":"Superior Completo","331":"Doutorado","332":"Superior Completo","333":"Superior Completo","334":"Mestrado","335":"Mestrado","336":"Superior Completo","337":"Superior Completo","338":"Doutorado","339":"Mestrado","340":"Superior Completo","341":"Superior Incompleto","342":"Superior Completo","343":"Superior Incompleto","344":"Doutorado","345":"Superior Incompleto","346":"Superior Completo","347":"Mestrado","348":"Superior Completo","349":"Superior Completo","350":"Superior Completo","351":"Superior Completo","352":"Superior Completo","353":"Superior Incompleto","354":"Mestrado","355":"Superior Completo","356":"Superior Incompleto","357":"Doutorado","358":"Superior Incompleto","359":"Superior Incompleto","360":"Superior Completo","361":"Superior Completo","362":"Superior Completo","363":"Superior Completo","364":"Superior Completo","365":"Superior Completo","366":"Mestrado","367":"Superior Completo","368":"Superior Incompleto","369":"Superior Completo","370":"Superior Incompleto","371":"Superior Completo","372":"Superior Completo","373":"Superior Incompleto","374":"Doutorado","375":"Superior Completo","376":"Superior Incompleto","377":"Superior Incompleto","378":"Superior Incompleto","379":"Superior Completo","380":"Mestrado","381":"Superior Incompleto","382":"Superior Completo","383":"Superior Completo","384":"Doutorado","385":"Superior Completo","386":"Superior Completo","387":"Superior Completo","388":"Mestrado","389":"Superior Completo","390":"Superior Completo","391":"Doutorado","392":"Superior Completo","393":"Mestrado","394":"Superior Incompleto","395":"Superior Incompleto","396":"Mestrado","397":"Superior Incompleto","398":"Doutorado","399":"Superior Completo","400":"Superior Incompleto","401":"Superior Completo","402":"Superior Completo"},"Idade":{"0":32,"1":47,"2":47,"3":56,"4":32,"5":68,"6":59,"7":50,"8":65,"9":40,"10":52,"11":42,"12":65,"13":65,"14":39,"15":42,"16":37,"17":54,"18":60,"19":50,"20":34,"21":50,"22":51,"23":53,"24":45,"25":35,"26":48,"27":38,"28":35,"29":39,"30":50,"31":71,"32":40,"33":47,"34":52,"35":40,"36":36,"37":38,"38":63,"39":52,"40":47,"41":62,"42":51,"43":42,"44":51,"45":59,"46":63,"47":66,"48":41,"49":68,"50":48,"51":52,"52":35,"53":35,"54":56,"55":48,"56":47,"57":41,"58":51,"59":62,"60":47,"61":54,"62":54,"63":57,"64":48,"65":45,"66":51,"67":62,"68":56,"69":50,"70":35,"71":43,"72":42,"73":45,"74":56,"75":52,"76":55,"77":69,"78":59,"79":63,"80":68,"81":59,"82":40,"83":45,"84":57,"85":42,"86":31,"87":35,"88":61,"89":67,"90":57,"91":38,"92":52,"93":44,"94":44,"95":68,"96":41,"97":59,"98":65,"99":45,"100":38,"101":51,"102":59,"103":66,"104":47,"105":39,"106":29,"107":48,"108":32,"109":39,"110":59,"111":61,"112":60,"113":52,"114":59,"115":55,"116":58,"117":59,"118":30,"119":47,"120":66,"121":38,"122":43,"123":56,"124":42,"125":57,"126":59,"127":51,"128":47,"129":43,"130":35,"131":29,"132":62,"133":41,"134":51,"135":44,"136":49,"137":40,"138":64,"139":37,"140":68,"141":39,"142":35,"143":52,"144":56,"145":54,"146":46,"147":69,"148":44,"149":57,"150":54,"151":51,"152":68,"153":52,"154":64,"155":57,"156":33,"157":58,"158":42,"159":64,"160":57,"161":51,"162":60,"163":59,"164":35,"165":64,"166":39,"167":32,"168":47,"169":61,"170":68,"171":58,"172":54,"173":53,"174":66,"175":49,"176":39,"177":51,"178":43,"179":64,"180":53,"181":62,"182":41,"183":57,"184":58,"185":66,"186":58,"187":43,"188":35,"189":49,"190":51,"191":50,"192":58,"193":42,"194":53,"195":53,"196":47,"197":57,"198":53,"199":47,"200":63,"201":55,"202":47,"203":60,"204":44,"205":51,"206":39,"207":68,"208":51,"209":50,"210":59,"211":66,"212":38,"213":35,"214":50,"215":51,"216":58,"217":53,"218":44,"219":39,"220":46,"221":45,"222":50,"223":66,"224":47,"225":54,"226":33,"227":42,"228":32,"229":42,"230":33,"231":49,"232":49,"233":43,"234":58,"235":55,"236":67,"237":41,"238":54,"239":58,"240":47,"241":39,"242":50,"243":41,"244":49,"245":53,"246":63,"247":67,"248":41,"249":33,"250":61,"251":43,"252":37,"253":51,"254":30,"255":64,"256":61,"257":52,"258":49,"259":56,"260":46,"261":36,"262":62,"263":64,"264":37,"265":41,"266":69,"267":67,"268":36,"269":53,"270":64,"271":58,"272":43,"273":30,"274":30,"275":46,"276":61,"277":56,"278":58,"279":36,"280":60,"281":53,"282":44,"283":46,"284":28,"285":49,"286":37,"287":57,"288":53,"289":58,"290":45,"291":43,"292":50,"293":45,"294":32,"295":43,"296":51,"297":52,"298":42,"299":64,"300":56,"301":67,"302":49,"303":62,"304":67,"305":49,"306":44,"307":68,"308":37,"309":30,"310":56,"311":54,"312":53,"313":46,"314":48,"315":62,"316":62,"317":29,"318":29,"319":66,"320":37,"321":63,"322":55,"323":33,"324":53,"325":35,"326":49,"327":29,"328":46,"329":58,"330":61,"331":32,"332":34,"333":63,"334":31,"335":56,"336":61,"337":29,"338":65,"339":42,"340":58,"341":62,"342":46,"343":55,"344":52,"345":33,"346":46,"347":68,"348":29,"349":49,"350":34,"351":63,"352":34,"353":36,"354":56,"355":46,"356":66,"357":45,"358":60,"359":33,"360":34,"361":29,"362":29,"363":58,"364":29,"365":60,"366":54,"367":58,"368":28,"369":46,"370":45,"371":40,"372":51,"373":66,"374":31,"375":53,"376":

e você pode repetir isso para cada um dos setores de modo iterativo:

In [ ]:
g = company.groupby('Setor')

my_dfs = { }

for key in g.groups.keys():
  temp = g.get_group(key).drop(columns="Setor").reset_index(drop=True)
  my_dfs[key] = temp

for key, data in my_dfs.items():
  print('DataFrame: ', key)
  display( data.head() )
  data.to_csv(key + '.csv',index=None)
  data.to_json(key + '.json')
  print( f'memory usage: {data.memory_usage().sum() / 1024:.1f}KB' )

DataFrame:  Administrativo

        Sexo     Grau_Instrucao  Idade  Anos_Experiencia Estado      Salario
0  Masculino           Mestrado     32                 9     SP  6948.868398
1  Masculino  Superior Completo     47                15     RJ  8687.786858
2  Masculino  Superior Completo     47                15     SP  7914.972759
3  Masculino  Superior Completo     56                11     SP  5595.857117
4  Masculino           Mestrado     32                 9     BH  6802.579902

memory usage: 19.0KB
DataFrame:  Financeiro

        Sexo       Grau_Instrucao  Idade  Anos_Experiencia Estado      Salario
0   Feminino             Mestrado     32                 9     BH  6512.599657
1  Masculino    Superior Completo     65                 8     SP  2024.994882
2   Feminino  Superior Incompleto     63                 8     SP  2038.753298
3  Masculino    Superior Completo     47                15     BH  2818.107045
4  Masculino            Doutorado     55                 8     SP  9553.051933

memory usage: 8.5KB
DataFrame:  Marketing

        Sexo       Grau_Instrucao  Idade  Anos_Experiencia Estado      Salario
0  Masculino    Superior Completo     31                 9     SP  6275.597489
1  Masculino  Superior Incompleto     40                17     SP  2104.902227
2   Feminino  Superior Incompleto     37                13     RJ  2014.408523
3   Feminino    Superior Completo     47                15     BH  7990.101936
4   Feminino    Superior Completo     52                13     SP  4418.462731

memory usage: 9.1KB
DataFrame:  Operacao

,Sexo,Grau_Instrucao,Idade,Anos_Experiencia,Estado,Salario
0,Masculino,Superior Completo,54,12,SP,2708.410161
1,Masculino,Superior Completo,52,13,BH,1368.040623
2,Feminino,Superior Completo,38,12,SP,10497.986350
3,Masculino,Mestrado,45,16,SP,6488.446200
4,Masculino,Superior Incompleto,40,17,SP,5674.497590

memory usage: 26.2KB
DataFrame:  RH

        Sexo       Grau_Instrucao  Idade  Anos_Experiencia Estado   Salario
0  Masculino            Doutorado     52                12     SP  8321.204
1  Masculino             Mestrado     54                12     RJ  7588.139
2  Masculino  Superior Incompleto     34                 8     BH  3125.765
3   Feminino             Mestrado     66                 8     RJ  7878.497
4   Feminino    Superior Completo     68                 7     SP  6815.129

memory usage: 9.0KB

Ou ainda empregar o comando `exec`.

In [ ]:
g = company.groupby('Setor')

for key, group in g:
  print('DataFrame: ', key)
  exec( key + ' = group.drop(columns="Setor").reset_index(drop=True)' )
  exec( 'display(' + key + '.head())')
  exec( 'print( "memory usage: " , np.round(' + key + '.memory_usage().sum() / 1024 , 1) , "KB") ' )
  exec( key + '.to_csv("' + key + '.csv", index=None)')
  exec( key + '.to_json("' + key + '.json")')
  print()

DataFrame:  Administrativo

        Sexo     Grau_Instrucao  Idade  Anos_Experiencia Estado      Salario
0  Masculino           Mestrado     32                 9     SP  6948.868398
1  Masculino  Superior Completo     47                15     RJ  8687.786858
2  Masculino  Superior Completo     47                15     SP  7914.972759
3  Masculino  Superior Completo     56                11     SP  5595.857117
4  Masculino           Mestrado     32                 9     BH  6802.579902

memory usage:  19.0 KB

DataFrame:  Financeiro

        Sexo       Grau_Instrucao  Idade  Anos_Experiencia Estado      Salario
0   Feminino             Mestrado     32                 9     BH  6512.599657
1  Masculino    Superior Completo     65                 8     SP  2024.994882
2   Feminino  Superior Incompleto     63                 8     SP  2038.753298
3  Masculino    Superior Completo     47                15     BH  2818.107045
4  Masculino            Doutorado     55                 8     SP  9553.051933

memory usage:  8.5 KB

DataFrame:  Marketing

        Sexo       Grau_Instrucao  Idade  Anos_Experiencia Estado      Salario
0  Masculino    Superior Completo     31                 9     SP  6275.597489
1  Masculino  Superior Incompleto     40                17     SP  2104.902227
2   Feminino  Superior Incompleto     37                13     RJ  2014.408523
3   Feminino    Superior Completo     47                15     BH  7990.101936
4   Feminino    Superior Completo     52                13     SP  4418.462731

memory usage:  9.1 KB

DataFrame:  Operacao

,Sexo,Grau_Instrucao,Idade,Anos_Experiencia,Estado,Salario
0,Masculino,Superior Completo,54,12,SP,2708.410161
1,Masculino,Superior Completo,52,13,BH,1368.040623
2,Feminino,Superior Completo,38,12,SP,10497.986350
3,Masculino,Mestrado,45,16,SP,6488.446200
4,Masculino,Superior Incompleto,40,17,SP,5674.497590

memory usage:  26.2 KB

DataFrame:  RH

        Sexo       Grau_Instrucao  Idade  Anos_Experiencia Estado   Salario
0  Masculino            Doutorado     52                12     SP  8321.204
1  Masculino             Mestrado     54                12     RJ  7588.139
2  Masculino  Superior Incompleto     34                 8     BH  3125.765
3   Feminino             Mestrado     66                 8     RJ  7878.497
4   Feminino    Superior Completo     68                 7     SP  6815.129

memory usage:  9.0 KB

(Moodle) Qual a memória ocupada pelos DataFrames `Administrativo` e `Financeiro` criados?

## Q2. `to_json`

(Moodle) Inspecione o DataFrame `json` criado. É o que você esperava encontrar? O que melhor descreve o formato encontrado? Verifique em https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_json.html. The format of the JSON string.
```
( ) ‘split’ 
( ) ‘records’ 
( ) ‘index’ 
( ) ‘columns’ 
( ) ‘values’ 
( ) ‘table’ 
```

In [ ]:
!cat Administrativo.json

{"Sexo":{"0":"Masculino","1":"Masculino","2":"Masculino","3":"Masculino","4":"Masculino","5":"Masculino","6":"Masculino","7":"Masculino","8":"Masculino","9":"Masculino","10":"Masculino","11":"Feminino","12":"Feminino","13":"Masculino","14":"Masculino","15":"Masculino","16":"Masculino","17":"Masculino","18":"Feminino","19":"Feminino","20":"Masculino","21":"Masculino","22":"Masculino","23":"Feminino","24":"Masculino","25":"Feminino","26":"Masculino","27":"Masculino","28":"Feminino","29":"Masculino","30":"Masculino","31":"Masculino","32":"Feminino","33":"Masculino","34":"Masculino","35":"Masculino","36":"Masculino","37":"Masculino","38":"Feminino","39":"Feminino","40":"Masculino","41":"Masculino","42":"Feminino","43":"Feminino","44":"Feminino","45":"Masculino","46":"Masculino","47":"Masculino","48":"Masculino","49":"Masculino","50":"Masculino","51":"Masculino","52":"Masculino","53":"Masculino","54":"Masculino","55":"Masculino","56":"Masculino","57":"Masculino","58":"Masculino","59":"Masculino","60":"Masculino","61":"Masculino","62":"Feminino","63":"Masculino","64":"Feminino","65":"Feminino","66":"Masculino","67":"Masculino","68":"Feminino","69":"Masculino","70":"Masculino","71":"Masculino","72":"Masculino","73":"Masculino","74":"Feminino","75":"Masculino","76":"Masculino","77":"Feminino","78":"Feminino","79":"Masculino","80":"Masculino","81":"Feminino","82":"Feminino","83":"Masculino","84":"Masculino","85":"Masculino","86":"Feminino","87":"Feminino","88":"Feminino","89":"Masculino","90":"Feminino","91":"Masculino","92":"Feminino","93":"Masculino","94":"Masculino","95":"Masculino","96":"Masculino","97":"Feminino","98":"Masculino","99":"Feminino","100":"Feminino","101":"Masculino","102":"Feminino","103":"Feminino","104":"Masculino","105":"Masculino","106":"Masculino","107":"Feminino","108":"Feminino","109":"Feminino","110":"Feminino","111":"Masculino","112":"Feminino","113":"Masculino","114":"Feminino","115":"Feminino","116":"Masculino","117":"Feminino","118":"Masculino","119":"Masculino","120":"Feminino","121":"Feminino","122":"Feminino","123":"Feminino","124":"Masculino","125":"Masculino","126":"Masculino","127":"Masculino","128":"Masculino","129":"Masculino","130":"Masculino","131":"Feminino","132":"Feminino","133":"Masculino","134":"Masculino","135":"Feminino","136":"Masculino","137":"Feminino","138":"Feminino","139":"Feminino","140":"Feminino","141":"Masculino","142":"Feminino","143":"Masculino","144":"Masculino","145":"Feminino","146":"Feminino","147":"Feminino","148":"Masculino","149":"Masculino","150":"Masculino","151":"Feminino","152":"Masculino","153":"Feminino","154":"Feminino","155":"Masculino","156":"Masculino","157":"Masculino","158":"Masculino","159":"Feminino","160":"Masculino","161":"Feminino","162":"Masculino","163":"Feminino","164":"Masculino","165":"Feminino","166":"Masculino","167":"Masculino","168":"Feminino","169":"Masculino","170":"Feminino","171":"Masculino","172":"Masculino","173":"Masculino","174":"Feminino","175":"Masculino","176":"Feminino","177":"Feminino","178":"Feminino","179":"Masculino","180":"Masculino","181":"Masculino","182":"Masculino","183":"Masculino","184":"Masculino","185":"Feminino","186":"Feminino","187":"Masculino","188":"Feminino","189":"Masculino","190":"Masculino","191":"Feminino","192":"Masculino","193":"Feminino","194":"Masculino","195":"Feminino","196":"Masculino","197":"Masculino","198":"Feminino","199":"Masculino","200":"Feminino","201":"Feminino","202":"Feminino","203":"Masculino","204":"Masculino","205":"Masculino","206":"Masculino","207":"Feminino","208":"Feminino","209":"Masculino","210":"Masculino","211":"Masculino","212":"Masculino","213":"Feminino","214":"Feminino","215":"Masculino","216":"Masculino","217":"Masculino","218":"Masculino","219":"Masculino","220":"Feminino","221":"Masculino","222":"Masculino","223":"Masculino","224":"Feminino","225":"Masculino","226":"Masculino","227":"Masculino","228":"Masculino","229":"Feminino","230":"Feminino","231":"Feminino","232":"Masculino","233":"Feminino","234":"Feminino","235":"Masculino","236":"Feminino","237":"Masculino","238":"Feminino","239":"Masculino","240":"Masculino","241":"Feminino","242":"Masculino","243":"Masculino","244":"Masculino","245":"Feminino","246":"Masculino","247":"Feminino","248":"Feminino","249":"Feminino","250":"Masculino","251":"Masculino","252":"Masculino","253":"Feminino","254":"Masculino","255":"Masculino","256":"Feminino","257":"Masculino","258":"Feminino","259":"Masculino","260":"Masculino","261":"Masculino","262":"Masculino","263":"Masculino","264":"Masculino","265":"Feminino","266":"Masculino","267":"Masculino","268":"Feminino","269":"Masculino","270":"Masculino","271":"Masculino","272":"Masculino","273":"Feminino","274":"Masculino","275":"Feminino","276":"Masculino","277":"Feminino","278":"Masculino","279":"Masculino","280":"Masculino","281":"Masculino","282":"Feminino","283":"Feminino","284":"Masculino","285":"Feminino","286":"Masculino","287":"Feminino","288":"Masculino","289":"Masculino","290":"Masculino","291":"Masculino","292":"Feminino","293":"Masculino","294":"Feminino","295":"Masculino","296":"Feminino","297":"Masculino","298":"Feminino","299":"Masculino","300":"Masculino","301":"Feminino","302":"Feminino","303":"Masculino","304":"Feminino","305":"Masculino","306":"Feminino","307":"Masculino","308":"Masculino","309":"Feminino","310":"Masculino","311":"Masculino","312":"Masculino","313":"Masculino","314":"Feminino","315":"Feminino","316":"Feminino","317":"Masculino","318":"Feminino","319":"Masculino","320":"Feminino","321":"Masculino","322":"Masculino","323":"Feminino","324":"Feminino","325":"Feminino","326":"Feminino","327":"Masculino","328":"Masculino","329":"Feminino","330":"Feminino","331":"Feminino","332":"Feminino","333":"Masculino","334":"Feminino","335":"Masculino","336":"Feminino","337":"Masculino","338":"Masculino","339":"Masculino","340":"Feminino","341":"Feminino","342":"Masculino","343":"Feminino","344":"Feminino","345":"Masculino","346":"Masculino","347":"Masculino","348":"Masculino","349":"Masculino","350":"Feminino","351":"Masculino","352":"Feminino","353":"Masculino","354":"Masculino","355":"Masculino","356":"Masculino","357":"Feminino","358":"Masculino","359":"Feminino","360":"Feminino","361":"Masculino","362":"Masculino","363":"Feminino","364":"Feminino","365":"Feminino","366":"Feminino","367":"Masculino","368":"Masculino","369":"Feminino","370":"Feminino","371":"Masculino","372":"Masculino","373":"Feminino","374":"Masculino","375":"Feminino","376":"Masculino","377":"Feminino","378":"Feminino","379":"Masculino","380":"Masculino","381":"Masculino","382":"Masculino","383":"Feminino","384":"Feminino","385":"Feminino","386":"Feminino","387":"Masculino","388":"Masculino","389":"Masculino","390":"Masculino","391":"Masculino","392":"Feminino","393":"Feminino","394":"Feminino","395":"Feminino","396":"Feminino","397":"Feminino","398":"Masculino","399":"Feminino","400":"Feminino","401":"Masculino","402":"Masculino"},"Grau_Instrucao":{"0":"Mestrado","1":"Superior Completo","2":"Superior Completo","3":"Superior Completo","4":"Mestrado","5":"Superior Completo","6":"Superior Completo","7":"Superior Completo","8":"Superior Completo","9":"Superior Incompleto","10":"Superior Completo","11":"Superior Completo","12":"Superior Completo","13":"Superior Completo","14":"Mestrado","15":"Doutorado","16":"Superior Incompleto","17":"Superior Completo","18":"Superior Incompleto","19":"Superior Completo","20":"Superior Incompleto","21":"Superior Completo","22":"Superior Incompleto","23":"Superior Incompleto","24":"Superior Completo","25":"Superior Completo","26":"Superior Incompleto","27":"Superior Completo","28":"Superior Completo","29":"Mestrado","30":"Superior Completo","31":"Doutorado","32":"Superior Incompleto","33":"Superior Completo","34":"Superior Completo","35":"Superior Incompleto","36":"Mestrado","37":"Superior Completo","38":"Superior Incompleto","39":"Mestrado","40":"Superior Completo","41":"Mestrado","42":"Superior Incompleto","43":"Mestrado","44":"Superior Incompleto","45":"Superior Completo","46":"Superior Incompleto","47":"Mestrado","48":"Superior Completo","49":"Superior Completo","50":"Superior Incompleto","51":"Superior Completo","52":"Superior Completo","53":"Superior Completo","54":"Superior Completo","55":"Mestrado","56":"Superior Completo","57":"Superior Completo","58":"Superior Incompleto","59":"Mestrado","60":"Superior Completo","61":"Mestrado","62":"Mestrado","63":"Superior Incompleto","64":"Doutorado","65":"Superior Completo","66":"Superior Incompleto","67":"Mestrado","68":"Superior Completo","69":"Superior Completo","70":"Superior Completo","71":"Superior Incompleto","72":"Mestrado","73":"Superior Completo","74":"Superior Completo","75":"Mestrado","76":"Doutorado","77":"Doutorado","78":"Superior Completo","79":"Doutorado","80":"Superior Completo","81":"Mestrado","82":"Superior Incompleto","83":"Superior Completo","84":"Superior Incompleto","85":"Mestrado","86":"Superior Completo","87":"Superior Completo","88":"Superior Completo","89":"Superior Incompleto","90":"Superior Incompleto","91":"Superior Completo","92":"Doutorado","93":"Superior Completo","94":"Superior Completo","95":"Superior Completo","96":"Superior Completo","97":"Superior Completo","98":"Superior Completo","99":"Doutorado","100":"Superior Completo","101":"Superior Incompleto","102":"Superior Completo","103":"Superior Incompleto","104":"Superior Completo","105":"Mestrado","106":"Superior Incompleto","107":"Superior Incompleto","108":"Mestrado","109":"Doutorado","110":"Mestrado","111":"Superior Completo","112":"Superior Incompleto","113":"Mestrado","114":"Doutorado","115":"Superior Incompleto","116":"Superior Completo","117":"Doutorado","118":"Superior Completo","119":"Mestrado","120":"Superior Incompleto","121":"Superior Completo","122":"Superior Incompleto","123":"Superior Completo","124":"Mestrado","125":"Superior Incompleto","126":"Doutorado","127":"Superior Incompleto","128":"Superior Completo","129":"Superior Incompleto","130":"Superior Completo","131":"Superior Incompleto","132":"Doutorado","133":"Superior Completo","134":"Superior Completo","135":"Superior Completo","136":"Superior Completo","137":"Superior Incompleto","138":"Superior Completo","139":"Superior Incompleto","140":"Superior Completo","141":"Superior Incompleto","142":"Superior Completo","143":"Mestrado","144":"Superior Completo","145":"Superior Completo","146":"Superior Incompleto","147":"Doutorado","148":"Superior Completo","149":"Superior Incompleto","150":"Mestrado","151":"Superior Completo","152":"Superior Completo","153":"Mestrado","154":"Superior Completo","155":"Superior Incompleto","156":"Superior Incompleto","157":"Superior Completo","158":"Mestrado","159":"Superior Completo","160":"Superior Incompleto","161":"Superior Completo","162":"Superior Incompleto","163":"Mestrado","164":"Superior Completo","165":"Superior Completo","166":"Mestrado","167":"Mestrado","168":"Mestrado","169":"Superior Completo","170":"Superior Completo","171":"Superior Completo","172":"Doutorado","173":"Superior Completo","174":"Superior Incompleto","175":"Superior Completo","176":"Mestrado","177":"Superior Completo","178":"Superior Incompleto","179":"Superior Completo","180":"Superior Completo","181":"Mestrado","182":"Superior Completo","183":"Mestrado","184":"Superior Completo","185":"Superior Incompleto","186":"Superior Completo","187":"Superior Incompleto","188":"Superior Completo","189":"Superior Completo","190":"Superior Completo","191":"Doutorado","192":"Superior Completo","193":"Mestrado","194":"Superior Completo","195":"Superior Incompleto","196":"Mestrado","197":"Mestrado","198":"Superior Incompleto","199":"Superior Completo","200":"Superior Incompleto","201":"Superior Incompleto","202":"Superior Completo","203":"Superior Incompleto","204":"Superior Completo","205":"Superior Completo","206":"Mestrado","207":"Superior Completo","208":"Superior Incompleto","209":"Doutorado","210":"Mestrado","211":"Superior Incompleto","212":"Superior Completo","213":"Superior Completo","214":"Mestrado","215":"Superior Incompleto","216":"Superior Completo","217":"Superior Incompleto","218":"Superior Completo","219":"Superior Incompleto","220":"Superior Incompleto","221":"Mestrado","222":"Superior Incompleto","223":"Superior Incompleto","224":"Superior Completo","225":"Doutorado","226":"Superior Incompleto","227":"Mestrado","228":"Mestrado","229":"Mestrado","230":"Superior Incompleto","231":"Superior Completo","232":"Superior Completo","233":"Superior Incompleto","234":"Superior Completo","235":"Superior Incompleto","236":"Superior Completo","237":"Superior Completo","238":"Mestrado","239":"Superior Completo","240":"Superior Completo","241":"Superior Incompleto","242":"Mestrado","243":"Superior Completo","244":"Superior Completo","245":"Superior Completo","246":"Superior Incompleto","247":"Superior Completo","248":"Superior Completo","249":"Superior Incompleto","250":"Superior Completo","251":"Superior Incompleto","252":"Superior Completo","253":"Superior Completo","254":"Superior Completo","255":"Superior Completo","256":"Superior Completo","257":"Mestrado","258":"Superior Completo","259":"Superior Completo","260":"Superior Completo","261":"Mestrado","262":"Mestrado","263":"Doutorado","264":"Superior Completo","265":"Superior Completo","266":"Mestrado","267":"Doutorado","268":"Doutorado","269":"Superior Completo","270":"Superior Completo","271":"Superior Completo","272":"Superior Incompleto","273":"Superior Completo","274":"Superior Completo","275":"Superior Completo","276":"Superior Completo","277":"Superior Completo","278":"Superior Completo","279":"Superior Incompleto","280":"Superior Incompleto","281":"Superior Incompleto","282":"Superior Completo","283":"Superior Completo","284":"Superior Incompleto","285":"Superior Completo","286":"Superior Completo","287":"Superior Incompleto","288":"Superior Completo","289":"Superior Completo","290":"Superior Incompleto","291":"Superior Incompleto","292":"Superior Incompleto","293":"Superior Incompleto","294":"Doutorado","295":"Superior Incompleto","296":"Superior Completo","297":"Mestrado","298":"Mestrado","299":"Superior Completo","300":"Mestrado","301":"Superior Completo","302":"Superior Completo","303":"Superior Incompleto","304":"Superior Completo","305":"Superior Completo","306":"Superior Completo","307":"Mestrado","308":"Doutorado","309":"Superior Completo","310":"Superior Completo","311":"Mestrado","312":"Superior Completo","313":"Superior Completo","314":"Superior Incompleto","315":"Mestrado","316":"Mestrado","317":"Superior Completo","318":"Superior Completo","319":"Superior Incompleto","320":"Superior Completo","321":"Superior Completo","322":"Superior Completo","323":"Superior Incompleto","324":"Superior Completo","325":"Mestrado","326":"Superior Completo","327":"Superior Completo","328":"Superior Completo","329":"Superior Completo","330":"Superior Completo","331":"Doutorado","332":"Superior Completo","333":"Superior Completo","334":"Mestrado","335":"Mestrado","336":"Superior Completo","337":"Superior Completo","338":"Doutorado","339":"Mestrado","340":"Superior Completo","341":"Superior Incompleto","342":"Superior Completo","343":"Superior Incompleto","344":"Doutorado","345":"Superior Incompleto","346":"Superior Completo","347":"Mestrado","348":"Superior Completo","349":"Superior Completo","350":"Superior Completo","351":"Superior Completo","352":"Superior Completo","353":"Superior Incompleto","354":"Mestrado","355":"Superior Completo","356":"Superior Incompleto","357":"Doutorado","358":"Superior Incompleto","359":"Superior Incompleto","360":"Superior Completo","361":"Superior Completo","362":"Superior Completo","363":"Superior Completo","364":"Superior Completo","365":"Superior Completo","366":"Mestrado","367":"Superior Completo","368":"Superior Incompleto","369":"Superior Completo","370":"Superior Incompleto","371":"Superior Completo","372":"Superior Completo","373":"Superior Incompleto","374":"Doutorado","375":"Superior Completo","376":"Superior Incompleto","377":"Superior Incompleto","378":"Superior Incompleto","379":"Superior Completo","380":"Mestrado","381":"Superior Incompleto","382":"Superior Completo","383":"Superior Completo","384":"Doutorado","385":"Superior Completo","386":"Superior Completo","387":"Superior Completo","388":"Mestrado","389":"Superior Completo","390":"Superior Completo","391":"Doutorado","392":"Superior Completo","393":"Mestrado","394":"Superior Incompleto","395":"Superior Incompleto","396":"Mestrado","397":"Superior Incompleto","398":"Doutorado","399":"Superior Completo","400":"Superior Incompleto","401":"Superior Completo","402":"Superior Completo"},"Idade":{"0":32,"1":47,"2":47,"3":56,"4":32,"5":68,"6":59,"7":50,"8":65,"9":40,"10":52,"11":42,"12":65,"13":65,"14":39,"15":42,"16":37,"17":54,"18":60,"19":50,"20":34,"21":50,"22":51,"23":53,"24":45,"25":35,"26":48,"27":38,"28":35,"29":39,"30":50,"31":71,"32":40,"33":47,"34":52,"35":40,"36":36,"37":38,"38":63,"39":52,"40":47,"41":62,"42":51,"43":42,"44":51,"45":59,"46":63,"47":66,"48":41,"49":68,"50":48,"51":52,"52":35,"53":35,"54":56,"55":48,"56":47,"57":41,"58":51,"59":62,"60":47,"61":54,"62":54,"63":57,"64":48,"65":45,"66":51,"67":62,"68":56,"69":50,"70":35,"71":43,"72":42,"73":45,"74":56,"75":52,"76":55,"77":69,"78":59,"79":63,"80":68,"81":59,"82":40,"83":45,"84":57,"85":42,"86":31,"87":35,"88":61,"89":67,"90":57,"91":38,"92":52,"93":44,"94":44,"95":68,"96":41,"97":59,"98":65,"99":45,"100":38,"101":51,"102":59,"103":66,"104":47,"105":39,"106":29,"107":48,"108":32,"109":39,"110":59,"111":61,"112":60,"113":52,"114":59,"115":55,"116":58,"117":59,"118":30,"119":47,"120":66,"121":38,"122":43,"123":56,"124":42,"125":57,"126":59,"127":51,"128":47,"129":43,"130":35,"131":29,"132":62,"133":41,"134":51,"135":44,"136":49,"137":40,"138":64,"139":37,"140":68,"141":39,"142":35,"143":52,"144":56,"145":54,"146":46,"147":69,"148":44,"149":57,"150":54,"151":51,"152":68,"153":52,"154":64,"155":57,"156":33,"157":58,"158":42,"159":64,"160":57,"161":51,"162":60,"163":59,"164":35,"165":64,"166":39,"167":32,"168":47,"169":61,"170":68,"171":58,"172":54,"173":53,"174":66,"175":49,"176":39,"177":51,"178":43,"179":64,"180":53,"181":62,"182":41,"183":57,"184":58,"185":66,"186":58,"187":43,"188":35,"189":49,"190":51,"191":50,"192":58,"193":42,"194":53,"195":53,"196":47,"197":57,"198":53,"199":47,"200":63,"201":55,"202":47,"203":60,"204":44,"205":51,"206":39,"207":68,"208":51,"209":50,"210":59,"211":66,"212":38,"213":35,"214":50,"215":51,"216":58,"217":53,"218":44,"219":39,"220":46,"221":45,"222":50,"223":66,"224":47,"225":54,"226":33,"227":42,"228":32,"229":42,"230":33,"231":49,"232":49,"233":43,"234":58,"235":55,"236":67,"237":41,"238":54,"239":58,"240":47,"241":39,"242":50,"243":41,"244":49,"245":53,"246":63,"247":67,"248":41,"249":33,"250":61,"251":43,"252":37,"253":51,"254":30,"255":64,"256":61,"257":52,"258":49,"259":56,"260":46,"261":36,"262":62,"263":64,"264":37,"265":41,"266":69,"267":67,"268":36,"269":53,"270":64,"271":58,"272":43,"273":30,"274":30,"275":46,"276":61,"277":56,"278":58,"279":36,"280":60,"281":53,"282":44,"283":46,"284":28,"285":49,"286":37,"287":57,"288":53,"289":58,"290":45,"291":43,"292":50,"293":45,"294":32,"295":43,"296":51,"297":52,"298":42,"299":64,"300":56,"301":67,"302":49,"303":62,"304":67,"305":49,"306":44,"307":68,"308":37,"309":30,"310":56,"311":54,"312":53,"313":46,"314":48,"315":62,"316":62,"317":29,"318":29,"319":66,"320":37,"321":63,"322":55,"323":33,"324":53,"325":35,"326":49,"327":29,"328":46,"329":58,"330":61,"331":32,"332":34,"333":63,"334":31,"335":56,"336":61,"337":29,"338":65,"339":42,"340":58,"341":62,"342":46,"343":55,"344":52,"345":33,"346":46,"347":68,"348":29,"349":49,"350":34,"351":63,"352":34,"353":36,"354":56,"355":46,"356":66,"357":45,"358":60,"359":33,"360":34,"361":29,"362":29,"363":58,"364":29,"365":60,"366":54,"367":58,"368":28,"369":46,"370":45,"371":40,"372":51,"373":66,"374":31,"375":53,"376":

## Q3. `agg()`, `mode()`

Veja os exemplos abaixo de como empregar a função `agg()` e como criar uma função nova para uso dentro do `agg()`.

In [ ]:
df

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [ ]:
def my_mode(x): # x.mode() é um método que tornamos aqui como uma função para poder ser empregada com agg()
  return x.mode()

In [ ]:
my_mode(df['order'])

0    Carnivora
dtype: object

In [ ]:
df.groupby('class')['order'].agg(my_mode)

class
bird      [Falconiformes, Psittaciformes]
mammal                          Carnivora
Name: order, dtype: object

In [ ]:
import numpy as np

df.groupby('class')[['order','max_speed']].agg({'order': my_mode, 'max_speed': np.mean})

                                  order  max_speed
class
bird    [Falconiformes, Psittaciformes]      206.5
mammal                        Carnivora       69.1

Empregue os exemplos para fornecer os valores de moda (atributos categóricos) e médios (atributos numéricos) para todos os valores de `company` por Setor.

In [ ]:
import numpy as np

company.groupby('Setor')[['Sexo', 'Grau_Instrucao', 'Idade', 'Anos_Experiencia', 
                    'Estado', 'Salario']].agg({'Sexo': (lambda x: x.mode()[0]), # alternativa a my_mode()
                                              'Grau_Instrucao': my_mode,
                                              'Idade': np.mean,
                                              'Anos_Experiencia': np.mean,
                                              'Estado': my_mode,
                                              'Salario': np.mean}).reset_index()

,Setor,Sexo,Grau_Instrucao,Idade,Anos_Experiencia,Estado,Salario
0,Administrativo,Masculino,Superior Completo,49.833747,11.444169,SP,5579.490246
1,Financeiro,Masculino,Superior Completo,50.379888,11.592179,SP,5009.500543
2,Marketing,Masculino,Superior Completo,48.541667,11.359375,SP,5035.949557
3,Operacao,Masculino,Superior Completo,49.120287,11.204668,SP,6364.649269
4,RH,Masculino,Superior Completo,50.481481,11.174603,SP,5547.501249

(Moodle) Há algum Setor onde os valores de moda diferem dos demais? Se sim, qual a média de Salário desse Setor?

Resp. Não há Setor onde os valores de moda diferem dos demais.

## Q4. `map()`

Empregue `map()` para criar um atributo `Codigo_instrucao` atribuindo valores inteiros $1$ a $n$ do menor para o maior `Grau_Instrucao` (ordem alfabética).

In [ ]:
grau_instrucao = sorted( list( company.Grau_Instrucao.unique() ) )
grau_instrucao

['Doutorado', 'Mestrado', 'Superior Completo', 'Superior Incompleto']

In [ ]:
instrucao_map = {}
for a, b in zip(grau_instrucao,np.arange(1,len(grau_instrucao)+1)): # black, blue, green, yellow, magenta
  instrucao_map[a] = b

instrucao_map

{'Doutorado': 1,
 'Mestrado': 2,
 'Superior Completo': 3,
 'Superior Incompleto': 4}

In [ ]:
company['Codigo_Instrucao'] = company.Grau_Instrucao.map(instrucao_map)
company.head()

,Setor,Sexo,Grau_Instrucao,Idade,Anos_Experiencia,Estado,Salario,Codigo_Instrucao
0,Operacao,Masculino,Superior Completo,54,12,SP,2708.410161,3
1,RH,Masculino,Doutorado,52,12,SP,8321.204000,1
2,RH,Masculino,Mestrado,54,12,RJ,7588.139000,2
3,Financeiro,Feminino,Mestrado,32,9,BH,6512.599657,2
4,RH,Masculino,Superior Incompleto,34,8,BH,3125.765000,4

(Moodle) Fazendo o valor de soma dos valores do novo atributo Codigo_Instrucao?

In [ ]:
company['Codigo_Instrucao'].sum()

4498

## Q5. Tabela de contingência, `pd.crosstab()`

Pesquise `pd.crosstab()` e o que é uma tabela de contigência. Em seguida construa uma tabela de contigência para responder a seguinte pergunta.

(Moodle) Qual Setor possui menos mulheres trabalhando e qual o percentual que essas mulheres representam de toda a companhia?

In [ ]:
pd.crosstab(company["Sexo"],company["Setor"],margins=True) # ,normalize=True)

Setor      Administrativo  Financeiro  Marketing  Operacao   RH   All
Sexo
Feminino              163          72         66       221   72   594
Masculino             240         107        126       336  117   926
All                   403         179        192       557  189  1520

In [ ]:
pd.crosstab(company["Sexo"],company["Setor"],margins=True,normalize=True)

Setor      Administrativo  Financeiro  Marketing  Operacao        RH       All
Sexo
Feminino         0.107237    0.047368   0.043421  0.145395  0.047368  0.390789
Masculino        0.157895    0.070395   0.082895  0.221053  0.076974  0.609211
All              0.265132    0.117763   0.126316  0.366447  0.124342  1.000000

Resp. Marketing, 4.3%

O `crosstab`, entretando, é limitado a índices simples.Tabelas semelhantes com índices múltiplos podem ser obtidas combinando-se `groupby()` com `.unstack()`.

In [ ]:
( company.groupby(["Sexo","Setor","Grau_Instrucao"])[["Salario"]].count().unstack() / len(company) ) # .sum().sum()

                           Salario                              \
Grau_Instrucao           Doutorado  Mestrado Superior Completo
Sexo      Setor
Feminino  Administrativo  0.010526  0.014474          0.051974
          Financeiro      0.001974  0.006579          0.022368
          Marketing       0.002632  0.003947          0.021711
          Operacao        0.013158  0.019079          0.079605
          RH              0.001974  0.003289          0.026316
Masculino Administrativo  0.009868  0.030921          0.080921
          Financeiro      0.005921  0.009868          0.038158
          Marketing       0.005921  0.013158          0.046711
          Operacao        0.019079  0.033553          0.113158
          RH              0.005921  0.013158          0.032895


Grau_Instrucao           Superior Incompleto
Sexo      Setor
Feminino  Administrativo            0.030263
          Financeiro                0.016447
          Marketing                 0.015132
          Operacao                  0.033553
          RH                        0.015789
Masculino Administrativo            0.036184
          Financeiro                0.016447
          Marketing                 0.017105
          Operacao                  0.055263
          RH                        0.025000